header
{
    background-color: var(--dark-purple);

    & *:hover
    {
        font-weight: normal;
        text-decoration: none;
    }
}

nav
{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px;

    #logo a
    {
        display: flex;
        align-items: center;

        img
        {
            height: 60px;
        }

        p
        {
            font-family: 'Josefin Sans', monospace;
            font-size: 39px;
            color: var(--anti-flash-white);
            margin: 0;
            padding: 6px 0 0 10px;
        }

        span
        {
            transition: 0.3s;
        }

        &:hover
        {
            span:first-of-type
            {
                color: var(--french-mauve);
            }

            span:last-of-type
            {
                color: var(--maya-blue);
            }
        }
    }

    #links
    {
        display: flex;
        align-items: center;

        a
        {
            border: 0 solid var(--maya-blue);
            color: var(--pale-purple);
            padding: 0 5px;
            margin: 0 5px;
            transition: 0.2s;
            font-size: 20px;

            &:hover
            {
                border-bottom-width: 6px;
            }
        }

        .active-link
        {
            color: var(--french-mauve);
        }
    }
}

@media (max-width: 770px)
{
    #logo p
    {
        display: none;
    }
}

@media (max-width: 500px)
{
    #links
    {
        display: grid !important;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);

        a
        {
            border-bottom: none !important;
            width: fit-content;

            &:hover
            {
                box-shadow: inset 0 -3px var(--maya-blue);
            }
        }
    }
}