<header>
    <nav>
        <div id="logo">
            <a routerLink="/">
                <img src="DD_Logo_Zoomed.png" alt="Logo du site">
                <p>
                    <span>D</span>ervey
                    <span>D</span>ylan
                </p>
            </a>
        </div>

        <div id="links">
            <a routerLink="/aptitudes" routerLinkActive="active-link">
                Aptitudes
            </a>

            <a routerLink="/galerie" routerLinkActive="active-link">
                Galerie
            </a>

            <a routerLink="/periple" routerLinkActive="active-link">
                Périple
            </a>

            <a routerLink="/biographie" routerLinkActive="active-link">
                Biographie
            </a>
        </div>
    </nav>
</header>