<footer>
    <div id="site-structure">
        <h3>Plan du site</h3>

        <nav>
            <li><a routerLink="/aptitudes">Aptitudes</a></li>
            <li><a routerLink="/galerie">Galerie</a></li>
            <li><a routerLink="/periple">Périple</a></li>
            <li><a routerLink="/biographie">Biographie</a></li>
        </nav>

        <em>&copy; Copyright 2024 - Dervey Dylan</em>
    </div>

    <div id="get-in-touch">
        <h3>Entrons en contact</h3>

        <div id="email">
            Dervey Dylan
            <br>
            <a href="mailto:derveydylan.pro@gmail.com">
                derveydylan.pro&#64;gmail.com <!-- &#64 => @ (at) -->
            </a>
        </div>

        <div id="icons">
            <a href="https://www.linkedin.com/in/derveydylan/" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>

            <a href="https://github.com/derveydylan" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>

    <div>
        <!-- Empty for now -->
    </div>
</footer>