<section id="presentation">
    <div id="greetings">
        <div>
            <img src="DD_Logo_Zoomed.png" alt="Photo de Dervey Dylan de face.">
        </div>

        <div id="greetings-text">
            <h1>Bonjour !</h1>

            <p>Je me présente, Dervey Dylan.</p>

            <p>Enchanté !</p>
        </div>
    </div>

    <div id="activity">
        <h2>Activité actuelle</h2>

        <p>
            Apprenti développeur d'applications 3ème année<br>
            Au centre de formation ORIF de Pomy
        </p>
    </div>

    <div id="personal-quote">
        <q>Mon objectif est de poursuivre mon appretissage en entreprise.</q>
    </div>
</section>

<section id="quick-links">
    <!-- TODO : Foreach for pages -->
    <div class="aptitudes">
        <h2>Aptitudes</h2>

        <p>On ne crée pas de bâtiment solide sans de solides fondations</p>

        <a routerLink="/aptitudes" class="btn btn-primary">
            En savoir plus
        </a>
    </div>
</section>