#presentation
{
    padding: 85px 0;

    #greetings
    {
        display: flex;
        justify-content: center;
        align-items: center;

        img
        {
            width: 350px;
            height: 350px;
            border-radius: 50%;
        }
    }
}